USE [master]
GO
/****** Object:  Database [myclinic]    Script Date: 11/28/2021 2:22:44 PM ******/
CREATE DATABASE [myclinic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myclinic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\myclinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myclinic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\myclinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myclinic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myclinic]
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 11/28/2021 2:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[DOC_ID] [varchar](5) NULL,
	[DOC_LNAME] [varchar](15) NULL,
	[DOC_FNAME] [varchar](15) NULL,
	[DOC_SPECIALTY] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRUG]    Script Date: 11/28/2021 2:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRUG](
	[DRUG_CODE] [varchar](5) NULL,
	[DRUG_NAME] [varchar](25) NULL,
	[DRUG_PRICE] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 11/28/2021 2:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT](
	[PAT_ID] [varchar](5) NULL,
	[PAT_NationalID] [nvarchar](max) NULL,
	[PAT_LNAME] [varchar](15) NULL,
	[PAT_FNAME] [varchar](15) NULL,
	[PAT_DOB] [datetime] NULL,
	[PAT_PHONE] [varchar](8) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DOCTOR] ([DOC_ID], [DOC_LNAME], [DOC_FNAME], [DOC_SPECIALTY]) VALUES (N'29827', N'Sanchez', N'Julio', N'Dermatology')
INSERT [dbo].[DOCTOR] ([DOC_ID], [DOC_LNAME], [DOC_FNAME], [DOC_SPECIALTY]) VALUES (N'32445', N'Jorgensen', N'Annelise', N'Neurology')
INSERT [dbo].[DOCTOR] ([DOC_ID], [DOC_LNAME], [DOC_FNAME], [DOC_SPECIALTY]) VALUES (N'33456', N'Korenski', N'Anatoly', N'Urology')
GO
INSERT [dbo].[DRUG] ([DRUG_CODE], [DRUG_NAME], [DRUG_PRICE]) VALUES (N'AF15', N'Afgapan-15', CAST(25 AS Numeric(18, 0)))
INSERT [dbo].[DRUG] ([DRUG_CODE], [DRUG_NAME], [DRUG_PRICE]) VALUES (N'AF25', N'Afgapan-25', CAST(35 AS Numeric(18, 0)))
INSERT [dbo].[DRUG] ([DRUG_CODE], [DRUG_NAME], [DRUG_PRICE]) VALUES (N'DRO', N'Droalene Chloride', CAST(112 AS Numeric(18, 0)))
GO
INSERT [dbo].[PATIENT] ([PAT_ID], [PAT_NationalID], [PAT_LNAME], [PAT_FNAME], [PAT_DOB], [PAT_PHONE]) VALUES (N'100', N'12345678901546', N'Kolmycz', N'George', CAST(N'1942-06-15T00:00:00.000' AS DateTime), N'324-5456')
INSERT [dbo].[PATIENT] ([PAT_ID], [PAT_NationalID], [PAT_LNAME], [PAT_FNAME], [PAT_DOB], [PAT_PHONE]) VALUES (N'101', N'12345678901547', N'Lewis', N'Rhonda', CAST(N'2005-03-19T00:00:00.000' AS DateTime), N'324-4472')
INSERT [dbo].[PATIENT] ([PAT_ID], [PAT_NationalID], [PAT_LNAME], [PAT_FNAME], [PAT_DOB], [PAT_PHONE]) VALUES (N'102', N'12345678901549', N'VanDam', N'Rhett', CAST(N'1958-11-14T00:00:00.000' AS DateTime), N'675-8993')
GO
USE [master]
GO
